html{
  overflow-x: hidden;
}
/*navbar*/
.navbar{
  background-color:black;
}
.navbar-nav{
  padding-left: 90%;
  font-family: sans-serif;
}
.nav-item{
  padding: 0px -10px;
}
.navbar-toggler
{
  opacity: 1;
}
.navbar-dark .navbar-brand {
    color:#C70A80 ;
}
/*myself 100px*/
.myself{
  background-color:black;
  font-family: 'Tiro Kannada', serif;
  color:white;
  font-size: 1.5rem;
}
.photo{
  border-radius: 100%;
  width: 100px;
  margin-left: 100px;
  float:left;
}
/*profile  */
.profile{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 220px;
  width: 600px;
}
/*skill*/
#ab{
  background-color: black;
  height: 300px;
}
.heading{
  padding-top: 30px;
  padding-left: 620px;
  text-align: 500px;
  color: white;
}
.card{
  margin-top: 50px;
  margin-left: 50px;
}
#card2{
  margin-top: -122px;
  margin-left: 350px;
}
#card3{
  margin-top: -122px;
  margin-left: 650px;
}
#card4{
  margin-top: -122px;
  margin-left: 950px;
}
/*education*/
.heading2{
  margin-left: 580px;
  margin-top: 20px;
}
.table{
 margin-left: 50px;
}

/*lang*/
.lang{
  background-color:black;
  height: 220px;

}
.heading3{
  padding-top: 30px;
  margin-left:520px;
  color: white;
}
ul{
  color: white;
}
.li{
  margin-left: 700px;
}
.li2{
  margin-left: 600px;
  margin-top: -23px;
}
.li3{
  margin-left: 500px;
  margin-top: -23px;
}
.li4{
  margin-left: 550px;
  margin-top: 53px;
}
.li5{
  margin-left: 650px;
  margin-top: -23px;
}

/*course */
.table2{
  margin-left: 0px;
}
.col2{
  width:216px;
}

/*experience*/
.exp{
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 20px;
  height: 340px;
  
}

/*project*/
.proj{
  text-align: center;
}
#projs{
  margin-left: 490px;
  margin-bottom: 100px;
}

/*contact*/
.con{
  padding-top: 20px;
  background-color: black;
  color: white;
  height:250px
}
